PORT=5000
MONGODB_URL=mongodb://127.0.0.1:27017/eaturkish
JWT_SECRET=replace_with_strong_secret
CORS_ORIGIN=http://localhost:3000

# Cloudinary upload config
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
CLOUDINARY_FOLDER=eatturkish
