.adminLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2ff;
  z-index: 10000;
  &__container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: "Paytone One", sans-serif;
      color: #4b4b4b;
      margin-top: 2rem;
    }
  }
}
